
.highcharts-background {
  fill: #262626 !important;
}
.highcharts-title {
  fill: #fff !important;
}
.highcharts-axis-labels text {
  fill: #aaa !important;
  font-size: 12px !important;
}
.highcharts-tooltip {
  background: #1a1a1a !important;
  border-color: #2a2a2a !important;
  color: #fff !important;
}
.highcharts-xaxis-labels text,
.highcharts-yaxis-labels text {
  fill: #aaa !important;
  font-size: 12px !important;
}
.highcharts-grid-line {
  stroke: #333 !important;
}
.highcharts-legend-item text {
  fill: #fff !important;
}