.stock-table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;

  height: calc(100vh - 120px);

  background-color: #121212;
  color: #d9d9d9;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  margin-top: 1rem;


  &::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  &::-webkit-scrollbar-track {
    background: #000;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    border: 3px solid #000;

  }

  &::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }

  @media (max-width: 768px) {
    margin-top: 0.5rem;
    border-radius: 0;
    height: calc(100vh - 100px);
  }
}

.stock-table {
  width: 100%;
  border-collapse: separate;

  border-spacing: 0;
  font-size: 13px;

  @media (max-width: 768px) {
    font-size: 11px;
    min-width: 600px;

  }

  @media (max-width: 480px) {
    font-size: 10px;
  }

  th,
  td {
    padding: 6px 4px;
    text-align: right;
    border: 1px solid #333;
    border-top: none;

    border-left: none;

    @media (max-width: 768px) {
      padding: 4px 2px;
    }
  }


  th {
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }

  td {
    border-left: 1px solid #333;
  }

  tr:last-child td {
    border-bottom: 1px solid #333;
  }

  th:last-child,
  td:last-child {
    border-right: 1px solid #333;
  }


  th {
    background-color: #1f1f1f;
    color: white;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    position: sticky;
    z-index: 20;
  }


  .header-row-1 th {
    top: 0;
  }

  .header-row-2 th {
    top: 32px;

    box-shadow: 0 1px 0 #333;

  }

  .symbol-cell {
    text-align: left;
    font-weight: bold;
  }

  .drag-handle-cell {
    text-align: center;
    cursor: grab;
    color: #888;
    vertical-align: middle;
    width: 30px;

    img {
      width: 20px;
      height: 20px;
      filter: brightness(0) invert(1);
      display: flex;
      justify-content: left;
    }

    &:active {
      cursor: grabbing;
    }
  }

  .text-ceiling {
    color: #d630e4;
  }

  .text-floor {
    color: #40cbf9;
  }

  .text-ref {
    color: #ffd700;
  }

  .text-up {
    color: #0f0;
  }

  .text-down {
    color: #ff3333;
  }

  .match-cell {
    background-color: #2a2a2a;
    font-weight: bold;
  }

  tbody tr:hover {
    background-color: #262626;
  }
}