
.app-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  gap: 1rem;
  box-sizing: border-box;
  padding: 2rem 2rem 0 2rem;
  margin: 0 auto;
  background: black;
  height: 100%;
}

.app-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: stretch;
  flex: 0 0 auto;
 // min-width: 0;
  overflow-x: auto;
  height: 100%;

  
}

.app-table {
  flex: 1 1 auto;
  align-self: stretch;
  display: flex;
 // min-width: fit-content;
  height: 415px;
 width: 200%;
 visibility: visible;
 
 
}