
.app-layout {
  display: flex;
  flex-direction: row;
  max-width: auto;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  gap: 2.5rem;
  box-sizing: border-box;
  padding: 2.5rem 2rem 0 2rem;
  margin: 0 auto;
  justify-content: center;
  background: none;
  height: auto;
}

.app-cards {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 200%;
  justify-content: space-between;
  height: 100%;
}

.app-table {
  flex: 1 1 0%;
  align-self: stretch;
  display: flex;
  margin-right: 0;
  height: 100%;
  width: auto;

}